body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	background-color: #111111;
}

header {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 30px;
	margin-bottom: 30px;
}
header h1 {
	margin: 0;
	color: #0400ff;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

li a {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 15px;
	width: 200px;
	height: 210px;
	box-shadow: 0 7px 25px rgba(4,0,255,0.25);
	text-decoration: none;
	color: rgba(4, 0, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
}

li ion-icon {
	margin: 0 auto;
	font-size: 200px;
	color: #0400ff;
}

a:hover {
	background-color: #0400ff;
	color: rgba(0, 0, 0, 0.5);
}
a:hover ion-icon {
	color: #000;
}

@media(max-width: 820px) {
	ul {
		flex-direction: column;
		margin: 0 auto;
		display: inline-block;
	}

	li {
		margin: 35px 0;
	}

	li:first-of-type {
		margin-top: 0;
	}

	li ion-icon {
		font-size: 150px;
	}

}