:root {
	--white: #fff;
	--background: #e0e5ec;
	--gray: #797d7f;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	background-color: var(--background);
	text-align: center;
}

h1, h2, h3, p {
	margin: 0;
	margin-bottom: 1rem;
}
h1 {
	text-transform: uppercase;
}

p {
	text-align: start;
	font-weight: 900;
	font-size: 1.2rem;
}

p span {
	font-weight: 400;
	font-size: 1rem;
}

.container {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	width: 80%;
	max-width: 25rem;
	border-radius: 1rem;
	margin: 3rem auto;
	padding: 2rem;
	box-shadow: 9px 9px 16px rgba(163, 177, 198, .6), -9px -9px 16px rgba(255, 255, 255, .5);
}

.form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 90%;
}

input {
	border: none;
	border-radius: .5rem;
	margin: .5rem 0;
	outline: none;
}

label {
	font-size: 1rem;
}

button {
	border: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	border-radius: .5rem;
	padding: .5rem;
	margin-top: .8rem;
	background-color: var(--background);
	box-shadow: 9px 9px 16px rgba(163, 177, 198, .6), -9px -9px 16px rgba(255, 255, 255, .5);
}

button:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.salary label input{
	width: 100%;
	height: 40px;
	padding: .5rem;
	padding-left: 35px;
	font-size: 15px;
	outline: none;
	box-shadow: 9px 9px 16px rgba(163, 177, 198, .6), -9px -9px 16px rgba(255, 255, 255, .5);
}
.salary label {
	position: relative;
	width: 100%;
}
.salary label ion-icon {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.2em;
}

.month label input{
	width: 100%;
	height: 40px;
	padding: .5rem;
	padding-left: 35px;
	font-size: 15px;
	outline: none;
	box-shadow: 9px 9px 16px rgba(163, 177, 198, .6), -9px -9px 16px rgba(255, 255, 255, .5);
}
.month label {
	position: relative;
	width: 100%;
}
.month label ion-icon {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.2em;
}

.percentage p {
	margin: 0;
	font-size: .6rem;
	color: #797d7f;
}

.percentage label {
	position: relative;
	width: 100%;
	/* height: 3rem; */
}
.percentage label .valueInputs {
	position: absolute;
	top: -.65rem;
	right: .2rem;
	font-size: 1em;
	color: #797d7f;
}

.percentageInput {
	height: 22px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	margin-bottom: 0;
	padding: 1rem;
	padding-right: 3rem;
	box-shadow: 9px 9px 16px rgba(163, 177, 198, .6), -9px -9px 16px rgba(255, 255, 255, .5);
}
.percentageInput:focus {
	outline: none;
}
.percentageInput::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #EDEDED;
	border-radius: 5px;
}
.percentageInput::-webkit-slider-thumb {
	border: 3px solid #ABABAB;
	height: 13px;
	width: 13px;
	border-radius: 50px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.5px;
}
.percentageInput:focus::-webkit-slider-runnable-track {
	background: #EDEDED;
}
.percentageInput::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #EDEDED;
	border-radius: 5px;
}
.percentageInput::-moz-range-thumb {
	border: 3px solid #ABABAB;
	height: 13px;
	width: 13px;
	border-radius: 50px;
	cursor: pointer;
}
.percentageInput::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.percentageInput::-ms-fill-lower {
	background: #EDEDED;
	border-radius: 10px;
}
.percentageInput::-ms-fill-upper {
	background: #EDEDED;
	border-radius: 10px;
}
.percentageInput::-ms-thumb {
	margin-top: 1px;
	border: 3px solid #ABABAB;
	height: 13px;
	width: 13px;
	border-radius: 50px;
	cursor: pointer;
}
.percentageInput:focus::-ms-fill-lower {
	background: #EDEDED;
}
.percentageInput:focus::-ms-fill-upper {
	background: #EDEDED;
}

.buttons {
	display: flex;
	justify-content: space-around;
}
.buttons button {
	border-radius: 50%;
}
.buttons button ion-icon {
	font-size: 1.5rem;
}

.home {
	background-color: #287bff;
}
.home:hover {
	background-color: rgba(40, 122, 255, 0.9);
}
.transport {
	background-color: #8de02c;
}
.transport:hover {
	background-color: hsla(88, 74%, 53%, 0.7);
}
.food {
	background-color: #f9ca3f;
}
.food:hover {
	background-color: hsla(45, 94%, 61%, 0.7);
}
.outputs {
	background-color: #f00;
}
.outputs:hover {
	background-color: rgba(255, 0, 0, 0.7);
}

.inputs {
	margin-top: 1.2rem;
}

.display-not {
	display: none;
}
.display {
	display: block;
	margin-bottom: 1rem;
}

.calcular2 {
	width: 100%;
	margin-bottom: 1rem;
}